<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <img src="assets/images/logo-almundo.svg" alt="Almundo Logo">
</mat-toolbar>

<div class="container">
  <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex>
    <!-- Filters -->
    <div fxFlex="28" class="filters-side">
      <app-filter></app-filter>
    </div>
    <div fxFlex="2"></div>
    <!-- Hotels List -->
    <div fxFlex="70" class="hotels-side">
      <app-hotels-list></app-hotels-list>
    </div>
  </div>
</div>
